<!DOCTYPE html>
<html ng-app="app" ng-hint lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>FiCa</title>
  </head>
  <body>
    <div class="modal" ng-class="authOpen ? 'modal-open fade in' : ''" ng-show="authOpen" ng-style="authOpen ? {display:'block'} : {}">
      <form class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Authentication required</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Username:</label>
            <input class="form-control" ng-model="username" type="text">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input class="form-control" ng-model="password" type="password">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="setAuth()">Ok</button>
          <button class="btn btn-danger" ng-click="dismissAuth()">Cancel</button>
        </div>
      </form>
    </div>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
    <div class="main" ui-view=""></div>
    <div class="uib-modal-backdrop fade in" ng-show="authOpen"></div>
  </body>
</html>