script(type="text/ng-template",id="popover.html")
  .small.black(ng-bind-html="row.fulltext")
table.table.table-striped.table-condensed
  tr.small
    th.text-right(ng-click="$ctrl.setSortBy(0)")
      span(ng-if="$ctrl.sortBy === 0",ng-class="$ctrl.sortDesc ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'")
    th(ng-click="$ctrl.setSortBy(1)")
      span(ng-if="$ctrl.sortBy === 1",ng-class="$ctrl.sortDesc ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'")
    th(ng-click="$ctrl.setSortBy(2)")
      span(ng-if="$ctrl.sortBy === 2",ng-class="$ctrl.sortDesc ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'")
  tr(ng-repeat="row in $ctrl.concordances track by $index")
    td.text-right(popover-append-to-body="true",ng-bind-html="row.before",uib-popover-template="'popover.html'",popover-trigger="mouseenter",popover-placement="bottom",ng-click="$ctrl.open(row.id,row.beforeString,$event)")
    th(popover-append-to-body="true",uib-popover-template="'popover.html'",popover-trigger="mouseenter",popover-placement="bottom",ng-click="$ctrl.open(row.id,row.match,$event)") &nbsp;{{row.match}}&nbsp;
    td(ng-bind-html="row.after",ng-click="$ctrl.open(row.id,row.afterString,$event)")
  tr.danger(ng-show="$ctrl.more",ng-click="$ctrl.update(false)"): td(colspan="3",style="text-align: center") ...
