.modal-header
  h3.modal-title Preview
.modal-body
  uib-tabset
    uib-tab(ng-repeat="sheet in sheets",heading="{{sheet.name}}",active="sheet.active")
      div(style="overflow:scroll;max-height:500px"): table.table.table-bordered.table-striped
        tr
          th(ng-if="firstRowIsHeader",ng-repeat="header in sheet.data[0] track by $index") {{header}}
          th(ng-if="!firstRowIsHeader",ng-repeat="header in sheet.data[0] track by $index") Column {{$index + 1}}
        tr(ng-repeat="row in sheet.data | limitTo:10:(skipRows+(firstRowIsHeader ? 1 : 0)) track by $index"): td(ng-repeat="column in row track by $index") {{column}}
.modal-footer
  .checkbox
    label
      input(type="checkbox",ng-model="firstRowIsHeader")
      | Use first row as header
  input(type="number",ng-model="$parent.skipRows",placeholder="skip rows")
  button.btn.btn-success(ng-click="$close();loadSheet()") Load
